<!-- 左部 -->
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('category/index')}" data-title="分类列表" href="javascript:void(0)">分类列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 城市管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
						<li><a data-href="{:url('city/index')}" data-title="城市分类" href="javascript:void(0)">城市分类</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe620;</i> 商家管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('bas/index')}" data-title="商家列表" href="javascript:void(0)">商家列表</a></li>
					<li><a data-href="{:url('bas/apply')}" data-title="商家入驻申请" href="javascript:void(0)">商家入驻申请</a></li>
					<li><a data-href="{:url('bas/deleteapply')}" data-title="删除审核不通过商家" href="javascript:void(0)">删除审核不通过商家</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe620;</i> 团购商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('deal/index')}" data-title="团购商品列表" href="javascript:void(0)">团购商品列表</a></li>
					<li><a data-href="{:url('deal/apply')}" data-title="团购商品审核" href="javascript:void(0)">团购商品审核</a></li>
					<li><a data-href="{:url('deal/deleteapply')}" data-title="删除审核不通过商品" href="javascript:void(0)">删除审核不通过商品</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 推荐位管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
						<li><a data-href="{:url('featured/index')}" data-title="推荐位列表" href="javascript:void(0)">推荐位列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('authgroup/index')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="{:url('authrule/index')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
						<li><a data-href="{:url('admin/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>
        
       	<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 小程序管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('add/index')}" data-title="主页内容管理" href="javascript:void(0)">主页内容管理</a></li>
					<li><a data-href="{:url('homeuser/index')}" data-title="用户信息" href="javascript:void(0)">用户信息</a></li>
					<li><a data-href="{:url('system/index')}" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a data-href="{:url('pinglun/index')}" data-title="用户评论" href="javascript:void(0)">用户评论</a></li>
				</ul>
			</dd>
		</dl>


		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="member-list.html" data-title="会员列表" href="javascript:;">会员列表</a></li>
					<li><a data-href="member-del.html" data-title="删除的会员" href="javascript:;">删除的会员</a></li>
					<li><a data-href="member-level.html" data-title="等级管理" href="javascript:;">等级管理</a></li>
					<li><a data-href="member-scoreoperation.html" data-title="积分管理" href="javascript:;">积分管理</a></li>
					<li><a data-href="member-record-browse.html" data-title="浏览记录" href="javascript:void(0)">浏览记录</a></li>
					<li><a data-href="member-record-download.html" data-title="下载记录" href="javascript:void(0)">下载记录</a></li>
					<li><a data-href="member-record-share.html" data-title="分享记录" href="javascript:void(0)">分享记录</a></li>
				</ul>
			</dd>
		</dl>
		
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
					<li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
					<li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
					<li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
				</ul>
			</dd>
		</dl>
</div>
</aside>
<!-- 左部 -->

<!-- 收起来-->
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!-- 收起来-->