<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="西沐网络">
    <meta name="description" content="西沐网络">
    <title>西沐网络</title> 
    <link rel="stylesheet" href="STATICSH/css/bootstrap.css" >
    <link rel="stylesheet" href="STATICSH/css/rainbow.css" >
    <script src="STATICSH/js/jQuery-2.1.4.min.js" ></script>
    <script src="STATICSH/js/bootstrap.js" ></script>
</head>
<body>
<div class="top_header">
    <div class="clearfix" style="width: 1000px; margin: 0 auto">
        <div class="clearfix login_module  cright">
            <button class="cright dr" data-toggle="modal" data-target="#login">登录</button>
            <p class="cright" style="width: 2px; height: 12px; margin-top: 8px; border-left: 1px solid #fff;"></p>
            <a href="{:url('index/reg')}"> <button class="cright" data-toggle="modal" data-target="#login"> 注册</button><a/>
        </div>
        <div id="user" class="user clearfix cright">
            <span class="cright"></span>
            <p class="cright">用户：</p>
        </div>
    </div>
</div>
<div class="header clearfix">
    <div  style="width: 1000px; margin: 0 auto">
        <p class="cleft logo_text">导途吧</p>
        <ul class="clearfix nav_r cright">
            <li class="cleft">
                <a  href="{:url('index/index')}" style="float: left;">首页</a>
            </li>
            <li class="cleft">
                <a class="active" href="{:url('index/about_us')}" >关于我们</a>
            </li>
            <li class="cleft">
                <a href="{:url('index/news1')}" >行业资讯</a>
            </li>
            <!--<li class="cleft">
                <a href="news.html" >产品介绍</a>
            </li>-->
            <li class="cleft">
                <a href="{:url('index/contact_us')}" >联系我们</a>
            </li>
        </ul>
    </div>
</div>

<div class="banner">
    <img src="STATICSH/images/top.jpg"  alt="">
</div>



<section class="com_p">
    <div class="company_profile" >
        <h3 style="font-size: 30px;">公司简介</h3>
        <p style="font-size: 24px;height:28px;line-height: 40px;">杭州西沐网络科技有限公司（以下简称“西沐网络”）成立于2016年，是一家专业移动互联网解决方案公司。西沐网络科技主要业务范畴包括移动广告投放代理、品牌广告投放与管理、移动产品创业制作等。 
西沐网络在移动互广告领域已经成为搜狐、陌陌、凤凰无限等媒体最大或核心广告投放公司。西沐网络瞄准了中国9亿手机用户的群，致力于为广大电商客户、微商客户、移动应用、网络服务企业提供移动互联网营销方案和个性化APP制定服务。 </p>
        
    </div>
 
</section>

<div class="footer">
    <p>杭州西沐网络科技有限公司</p>
    <p>公司地址：杭州市余杭区仓前街道绿汀路1号3幢112-3室 &nbsp;&nbsp;&nbsp;&nbsp;公司电话：0571-86653797&nbsp;&nbsp;&nbsp;&nbsp;邮编：311113 </p>
    <p>浙ICP备16028161号-1</p>
</div>
<!--模态框-->
<!--模态框-->
<div class="modal fade" id="showModal" role="dialog" data-toggle="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h5 class="modal-title">温馨提示</h5>
            </div>
            <div class="modal-body">
                想要查看产品动态，请登陆后付费即可观看！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btm-sm" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger btm-sm" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login" role="dialog" data-toggle="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header container" style="width: 100%">

                <div class="row">
                    <h5 class="modal-title col-xs-3">登录/注册</h5>
                    <h5 class="modal-title  col-xs-8 text-right" data-target="#showVip" data-toggle="modal">行业资讯登入付费才可观看哦!会员每月15元</h5>
                    <button type="button" class="close col-xs-1" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="mobile" class="control-label col-sm-2">手机号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mobile" placeholder="请输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="identifyCode" class="control-label col-sm-2">验证码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="identifyCode" placeholder="请输入验证码">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" id="getCode" class="btn btn-info btn-md">获取验证码</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="loginR" class="btn btn-info btm-sm" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger btm-sm" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showVip" role="dialog" data-toggle="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h5>购买VIP</h5>
            </div>
            <div class="modal-body">
                <img src="vip.png"  class="img-responsive" alt="">
            </div>
        </div>
    </div>
</div>

<script src="STATICSH/js/company.js" ></script>
<div class="dl" style="width: 360px;height: 300px;background: #fff;border: solid 1px #eee;position: fixed;left: 50%;top: 50%;margin-left: -180px;margin-top: -150px;display: none;"	>

  <p style="ext-align: center; background:#3BD4FE;height: 38px;line-height: 38px;color: #fff;font-size:17px;box-shadow: 2px 2px 5px #aaa;font-family: "微软雅黑";margin-bottom: 25px;">杭州西沐网络科技有限公司</p>

  <div class="textbox">
    <label for="" style="padding-left: 40px;">用户名</label><input type="text" class="text" style="width:190px;height: 32px;display: inline-block;font-size: 16px;margin: 20px;">
  </div>
  <div class="textbox">
   <label for="" style="padding-left: 40px;">密&nbsp;&nbsp;&nbsp;&nbsp;码</label><input type="password" class="text" style="width:190px;height: 32px;display: inline-block;font-size: 16px;margin: 20px;">
  </div>  
<a href="" class="btnd" style="width: 220px;height: 40px;display: block;margin-left: 70px; background:#3BD4FE;line-height: 40px;text-align: center;font-size: 18px;color: #fff;">登录</a>
<a href="javascript:void(0);" style="display: block;float: left;margin-top: 25px;text-align: center;width: 100%;font-size: 14px;color: #888;" class="gb">[关闭]</a> 
</div>
<script type="text/javascript" src="STATICSH/js/jquery-1.7.2.js"></script>
<script>
  $(function() {

        $('.dr').click(function() {

      $('.dl').show();

    });

            $('.gb').click(function() {

      $('.dl').hide();


    }); 

  })

</script>
</body>
</html>